{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <table class="table display" style="width: 100%;">
        <thread>
            <th>#</th>
            <th>Produkt</th>
            <th>Liczba opinii</th>
            <th>Liczbę wad</th>
            <th>Liczba zalet</th>
            <th>Średnia ocenę</th>
            <th>Pobierz</th>
        </thread>
        <tbody>
            <tr> 
                <td>1</td>
                <td role='button' class="text-primary"><a class="text-decoration-none" href="/product">123849599</a></td>
                <td>2</td>
                <td>0</td>
                <td>6</td>
                <td>5.0</td>
                <td><button>json</button></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
